<%- include("header") -%>
    <div class="col-md-6 mx-auto other-details" style="
    background: white;
    opacity: 0.9;
    width: fit-content;
    border-radius: 25px;">
        <div class="text">
            <h1>
                About Project
            </h1>
            <br>
            <p1>
                This project is made by Somya Gupta
            </p1>

        </div>
        <div class="text">

            <h1>Developer Contact</h1>
            <br>
            <div>
                <a class="logo-l" href="https://www.linkedin.com/in/somya-gupta-0118a31b6"><i
                        class="fab fa-linkedin"></i></a>
                <a class="logo-g" href="https://github.com/Somya339"><i class="fab fa-github-square"></i></a>
                <!-- <a class="logo-t" href="https://twitter.com/raj_abhir?s=08"><i class="fab fab-instagram-s"></i></a> -->
            </div>
        </div>
    </div>

    <%- include("footer") -%>