<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About Project 
        </h1>
        <br>
        <p1>
            This project is made by Abhir Raj Shrivastava
        </p1>

    </div>
    <br><br>

    <div class="text">
        
        <h1>Developer Contact</h1>
        <br>
        <div>
            <a href="https://www.linkedin.com/in/abhir-raj-shrivastava-4a57711a0"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Abhir-24"><i class="fab fa-github-square"></i></a>
            <a href="https://twitter.com/raj_abhir?s=08"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>