@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Shippori+Mincho+B1:wght@600&display=swap');
*{
    font-family: 'Akaya Telivigala', cursive;
}

#starter {
    min-height: 100vh;
    background: linear-gradient(rgba(251, 250, 248, 0.3), rgba(251, 250, 248, 0.4)), url("../images/bank_bg.jpg") center/cover no-repeat fixed;
    position: relative;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    letter-spacing: 0.5rem;
    text-transform: capitalize;
}

.banner-content {
    font-size: 2rem;
    color: #00647A;
    animation: slideLeft 5s ease-in-out 1;
}

.banner-made {
    font-size: 2rem;
    color: #00A398;
    margin-top: 2.5rem;
    animation: slideRight 5s ease-in-out 1;
}

.banner-title {
    font-size: 3.2rem;
    color: #00A398;
    margin-top: 2.5rem;
    line-height: 1.4;
    animation: slideRight 5s ease-in-out 1;
}


.banner-btn,
.extra-btn {
    display: inline-block;
    background-color: rgb(254 158 159);
    text-transform: uppercase;
    padding: 0.8rem 1.2rem;
    color: white;
    font-weight: bold;
    /* outline: 0.2rem solid rgb(219 253 252); */
    /* outline-offset: 4px; */
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 47px;
    transition: all 0.5s ease-in;
}

.banner-btn:hover,
.extra-btn:hover {
    color: #fff;
    opacity: 0.8;
}

.banner-btn {
    padding: 1.2rem 1.5rem;
    animation: bttn 5s ease-in-out 1;
}

@keyframes bttn {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}
@keyframes slideRight {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

@media screen and (max-width: 992px) {

    .banner-content,
    .banner-made {
        font-size: 20px;
    }
}